# old-version files
old_version/

# vscode
.vscode/

# test output
test_output/

# __pycache__
__pycache__/

# slurm
slurm*

# all dependent packages
requirements_all.txt

# data for tutorial
example/
example.tar.gz
simulate*

# shared data
shared_data/

# zenodo tools
zenodo-upload/

# hail logs
hail*

# simulation code
*simulation*

# example summary stats
insomnia*

# nfs files
.nfs*