# old-version files
old_version/

# vscode
.vscode/

# test output
test_output/

# __pycache__
__pycache__/

# slurm
slurm*

# all dependent packages
requirements_all.txt

# data for tutorial
example/
example.tar.gz
simulate*

# shared data
shared_data/

# zenodo tools
zenodo-upload/

# hail logs
hail*

# simulation code
*simulation*

# example summary stats
insomnia_ukb2b_EUR_sumstats_20190311_with_chrX_mac_100.snpinfo
insomnia_ukb2b_EUR_sumstats_20190311_with_chrX_mac_100.sumstats
insomnia_ukb2b_EUR_sumstats_20190311_with_chrX_mac_100.txt

# nfs files
.nfs*

# temp MatrixTable
temp*
*npy

# code to manipulate promGdf
misc/wgs/merge_interval.ipynb*